:root { 
--white_A700_b2:#ffffffb2; 
--red_600:#f01c21; 
--blue_gray_100_01:#d3d3d3; 
--gray_800_01:#404040; 
--green_700:#3aa515; 
--gray_50:#f8f8f8; 
--gray_200_01:#ebebeb; 
--blue_gray_100_3f:#d9d9d93f; 
--gray_200_02:#e8e8e8; 
--gray_900_02:#091431; 
--gray_600:#747577; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d9d9d9; 
--gray_500:#908f8f; 
--blue_gray_400:#8b8b8b; 
--gray_800:#454749; 
--gray_900:#081431; 
--gray_900_01:#0c1230; 
--gray_200:#eeeeee; 
--gray_300:#e3e3e3; 
--gray_300_01:#dfdfdf; 
--gray_100:#f5f5f5; 
--black_900_11:#00000011; 
--blue_gray_400_01:#868686; 
--white_A700:#ffffff; 
}